name: testing

on: push

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go:
          - '1.17'
          - '1.18'
    name: Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - run: make test
